@model List<ExcelParsing.Models.Person>
@{
    ViewData["Title"] = "Home Page";
    int currentPage = ViewData["CurrentPage"] != null ? (int)ViewData["CurrentPage"] : 1;
    int totalPages = ViewData["TotalPages"] != null ? (int)ViewData["TotalPages"] : 1;
}

<div class="text-center">
    
    <button id="upload">UPLOAD</button>
    
    <div id="contents">
        
        <div id="header-container"> 
            <div class="header"> <a asp-action="Index" asp-route-sortOrder="@ViewData["IDSort"]">ID</a> </div>
            <div class="header"> <a asp-action="Index" asp-route-sortOrder="@ViewData["FirstNameSort"]">First Name</a> </div>
            <div class="header"> <a asp-action="Index" asp-route-sortOrder="@ViewData["LastNameSort"]">Last Name</a> </div>
            <div class="header"> <a asp-action="Index" asp-route-sortOrder="@ViewData["AgeSort"]">Age</a> </div>
            <div class="header"> <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSort"]">Status</a> </div>
        </div>

        @foreach(var person in Model)
        {
            <div id="cell-container">
                <div class="cell">@person.ID</div>
                <div class="cell">@person.FirstName</div>
                <div class="cell">@person.LastName</div>
                <div class="cell">@person.Age</div>
                <div class="cell">@person.status</div>
            </div>
        }
    </div>
    
    <div>
        <form method="get" asp-action="Index">
            <input type="hidden" name="sortOrder" value="@ViewData["CurrentSort"]" />
            <button type="submit" class="page-buttons" name="page" value="@(currentPage - 1)" @(currentPage <= 1 ? "disabled" : "")>Previous</button>
            <button type="submit" class="page-buttons" name="page" value="@(currentPage + 1)" @(currentPage >= totalPages ? "disabled" : "")>Next</button>
        </form>
    </div>

</div>
