@model List<ExcelParsing.Models.Person>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <button id="upload">UPLOAD</button>
    <div id="contents">
        
        <div id="header-container"> 
            <!--Bind sorting functions to each header-->
            <div class="header"> <a href="">ID</a> </div>
            <div class="header"> <a href="">First Name</a> </div>
            <div class="header"> <a href="">Last Name</a> </div>
            <div class="header"> <a href="">Age</a> </div>
            <div class="header"> <a href="">Status</a> </div>
        </div>

        @foreach(var person in Model)
        {
            <div id="cell-container">
                <div class="cell">@person.ID</div>
                <div class="cell">@person.FirstName</div>
                <div class="cell">@person.LastName</div>
                <div class="cell">@person.Age</div>
                <div class="cell">@person.status</div>
            </div>
        }
    </div>
</div>
